.root {
    -fx-background-color: #ffffff;
}

.tab-pane, .vbox, .split-pane {
    -fx-background-color: #ffffff;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #ffffff;
}


.button {
    -fx-cursor: hand;
}

.tab-pane .tab
{
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: #ffffff;
}

.tab-pane .tab:selected {
    -fx-border-width: 1 1 0 1;
    -fx-border-color: #2980b9;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #2980b9;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0;
}


.button, .combo-box {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: #2980b9;
    -fx-text-fill: #ffffff;
}

.combo-box .list-cell {

    -fx-background-color: #2980b9;
    -fx-text-fill: #ffffff;
}

.combo-box .list-cell:hover {
    -fx-background-color: #3498db;
}


.text-field, .text-area, .list-view {
    -fx-background-clor: transparent;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-border-width: 1 1 1 1;
    -fx-border-color: #3498db;
}

.header {
    -fx-text-fill: #ffffff;
    -fx-width: 60;
    -fx-background-color: #2980b9;
}

.label {
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #2980b9;
    -fx-padding: 0 5 0 5;
    -fx-background-color: #ceecff;
}

.no-style-label {
    -fx-border-width: 0 0 0 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
}


.check-box .box {

-fx-background-color: white;
-fx-border-color: #3498db;;
-fx-border-radius: 0px;

}


.table-view .label {
    -fx-border-width: 0;
    -fx-padding: 0 5 0 5;
    -fx-background-color: transparent;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #fff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}


.table-view .column-header-background{
    -fx-background-color:  #3498db;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
}

.table-view .column-header-background .table-cell{
    -fx-background-color: transparent;
    -fx-text-fill: #fff;

}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: #ddd;
}

.table-view .table-cell{
    -fx-text-fill: #333;
    -fx-border-width: 1;
    -fx-border-color: #ddd;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */

}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #c4e7ff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}


.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

